<h2>Data sources</h2>

<%= for {source_kind, sources} <- group_sources(@sources) do %>
  <%= describe_source_kind_plural(source_kind) %>
  <ul>
    <%= for source <- sources do %>
      <li><%= source_link(source, @conn) %></li>
    <% end %>
  </ul>
<% end %>
