<h2><%= describe_source_kind(@source) %></h2>
<h3>Info</h3>
<dl>
  <dt>Name</dt>
  <dd><%= @source.name %></dd>
  <dt>Connection info</dt>
  <dd><div class="connection-info"><%= @source.connection_info %></div></dd>
</dl>

<h3><%= describe_source_nodes(@source) %></h3>
<ul>
  <%= for n <- @nodes do %>
    <li><%= link(n.name, to: node_path(@conn, :show, n.uuid)) %></li>
  <% end %>
</ul>
