<h1><%= @database.properties["name"] %></h1>

<h2>Tables</h2>
<ul>
  <%= for table <- @tables do %>
    <li><a href="<%= table_path(table) %>"><%= table.properties["name"] %></a></li>
  <% end %>
</ul>
